extends layout
block content
	br
	a.btn.btn-return(href='/api/place' role='button') Retour	
	a.list-group-item.list-group-item-action.flex-column.align-items-start.active(href='#')
		.d-flex.w-100.justify-content-between
			h3.h3-place= place.name
			br
		.groupe-image-place
			img.img-place(src='https://placeimg.com/380/230/arch' alt='')
		h3.h3-place= place.description
		small.small-place
			= place.rooms
			|  pièces - 
			= place.bathrooms
			|  SDB - 
			= place.max_guests
			|  personnes max.
		h3.price-place= place.price_by_night
			|  € / nuit
		br

		//Affichage des boutons si role hôte
		//if user.role = host
		a.btn.btn-update(href=`/api/place/update/${place.id}` role='button') Modifier
		a.btn.btn-delete(href=`/api/place/delete/${place.id}` role='button') Supprimer
		
		br
		.place-descritpion
		h4.h4-place Logement entier
		p.p-place
			| Vous aurez le logement rien que pour vous.
		h4.h4-place Nettoyage renforcé
		p.p-place
			| Cet hôte s'est engagé à suivre un protocole de nettoyage rigoureux, élaboré en partenariat avec d'éminents experts de la santé et de l'accueil.
		h4.h4-place Superhost
		p.p-place
			| Hôte expérimenté qui bénéficient de très bonnes évaluations. 
		br

	

	

