extends layout

block content

  // Section carte des annonces
  h2.row Lyon
  section.details-card
    .container
      .row
        .col-md-4
        each place in places
          .card-content
            .card-img
              img(src='https://placeimg.com/380/230/arch' alt='')
              span
                h4=place.max_guests
                  |  personnes    
            .card-desc
              a.btn-place(href=`/api/place/${place.id}` role='button')= place.name     
              p= place.description
              p= place.price_by_night
                | € / nuit
              //a.btn.btn-primary(href=`/api/place/${place.id}` role='button')
  
      //Section marketing / inscription     
      .container-narrow
        .masthead
          br
          br
          h3.muted Trouvez le logement qu'il vous faut, quand il faut.
        .footer
          p © Lov'cation 2020

